.button {
   display: flex;
   align-items: center;
   background-color: transparent;
   border: none;
   border-radius: 28px;
}
.inactive {
   transition: filter 300ms ease ;
}
.inactive:hover {
   filter: saturate(200%);
}
.active {
   color: #F2F2F3;
   cursor: default;
}