.section {
   width: 600px;
   display: flex;
   flex-flow: column;
   align-items: flex-end;
}
.burger {
   display: flex;
   flex-flow: column;
   align-items: flex-end;
   width: 100%;
   position: relative;
}
.order {
   display: flex;
   align-items: center;
}
.preloader {
   position: absolute !important;
   top: calc(50% );
   left: calc(50% - 30px);;
}
.hidden {
   display: none !important;
}