.section {
   width: 600px;
   display: flex;
   flex-flow: column;
   align-items: flex-end;
}
.burger {
   display: flex;
   flex-flow: column;
   align-items: flex-end;
   width: 100%;
}
.order {
   display: flex;
   align-items: center;
}
