* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a, a:active, a:hover, a:visited {
  text-decoration: none;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}