.header {
   background-color: #1C1C21;
}
.container {
   max-width: 1280px;
   display: grid;
   grid-template: auto / 1fr min-content 1fr;
   margin: 0 auto;
   align-items: center;
   gap: 20px;
}
@media (max-width: 1094px) {
   .container {
      grid-template: auto / repeat(3, auto);
   }
}
.profile {
   justify-self: end;
}
.list {
   display: flex;
}
.button {
   display: flex;
   align-items: center;
   background-color: transparent;
   border: none;
   border-radius: 28px;
}

.inactive {
   transition: filter 300ms ease;
}

.inactive:hover {
   filter: saturate(200%);
}

.active {
   color: #F2F2F3 !important;
   cursor: default;
}